<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/svg+xml" href="/kx.svg" />

</head>
<body>
<div id="app">Loading ... </div>
<script src="/<%= mainJs %>" nonce="<%= nonce %>"></script>
</body>
</html>
