@font-face {
  font-family: 'Goldman';
  src: url('./Goldman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goldman';
  src: url('./Goldman-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital Play Italic St';
  src: url('./Digital Play Italic St.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
